

  <body class="bg-teal-500 flex items-center justify-center min-h-screen" style="background-color: #00A2B9;">

<div class="flex items-center justify-center h-full">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg mt-16 mb-8">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Registrarme</h2>
    <form [formGroup]="form" (ngSubmit)="enviarFormulario()" class="space-y-5">

      <p *ngIf="form.invalid && (form.touched || formSubmitted)" class="text-red-500 text-sm text-center">Por favor, completa todos los campos correctamente.</p>

      <div class="flex flex-wrap -mx-3 mb-6">
        <!-- Campo nombre y apellidos -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="nombre">
            Nombre y apellidos
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="nombre" type="text" formControlName="nombre" placeholder="Nombre y apellidos" required>
        </div>

        <!-- Campo tipo de perfil -->
        <div class="w-full md:w-1/2 px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="tipo_de_perfil">
            Tipo de perfil
          </label>
          <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="tipo_de_perfil" formControlName="tipoDePerfil" required>
            <option value="CONDUCTOR">Conductor</option>
            <option value="PASAJERO">Pasajero</option>
          </select>
        </div>
      </div>

      <!-- Campo correo electrónico -->
      <div class="mb-6">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="correo">
          Correo electrónico
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="correo" type="email" formControlName="correo" placeholder="ejemplo@gmail.com" required>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">

        <!-- Campo contraseña -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="contraseña">
            Contraseña
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contraseña" type="password" formControlName="contraseña" placeholder="********" required>
          <!-- Mensaje de error por longitud mínima -->
          <div *ngIf="form.get('contraseña')?.errors?.['minlength'] && form.get('contraseña')?.touched"
               class="text-red-500 text-sm">
            La contraseña debe tener mínimo 8 caracteres.
          </div>
        </div>

        <!-- Campo confirmar contraseña -->
        <div class="w-full md:w-1/2 px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="c_contraseña">
            Confirmar Contraseña
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="c_contraseña" type="password" formControlName="confirmarContraseña" placeholder="********" required>
        </div>
      </div>
      <div *ngIf="form.hasError('passwordMismatch')" class="text-red-500 text-sm">Las contraseñas no coinciden.</div>

      <div class="flex flex-wrap -mx-3 mb-6">

        <!-- Campo DNI -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="DNI">
            DNI
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="DNI"
            type="text"
            formControlName="dni"
            placeholder="DNI"
            pattern="[0-9]{1,8}"
            maxlength="8"
            required
            (input)="validateDNI()">
          <!-- Mensaje de error por longitud exacta -->
          <div *ngIf="dniHasError && form.get('dni')?.touched"
               class="text-red-500 text-sm">
            El DNI debe tener  8 dígitos.
          </div>
        </div>

        <!-- Campo telefono -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="telefono">
            Teléfono
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="telefono"
            type="text"
            formControlName="telefono"
            placeholder="Telefono"
            pattern="[0-10]{1,9}"
            maxlength="9"
            required
            (input)="validateTelefono()">
          <!-- Mensaje de error por longitud exacta -->
          <div *ngIf="telefonoHasError && form.get('telefono')?.touched"
               class="text-red-500 text-sm">
            El telefono debe tener  9 dígitos.
          </div>
        </div>

      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <!-- Campo fecha de nacimiento -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="fecha_de_nacimiento">
            Fecha de nacimiento
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="fechaDeNacimiento" id="fecha_de_nacimiento" type="date" required>
        </div>

        <!-- Campo sexo -->
        <div class="w-full md:w-1/2 px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="sexo">
            Sexo
          </label>
          <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="sexo" id="sexo" required>
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
        </div>
      </div>

      <!-- Campo foto de perfil -->
      <div class="mb-6 relative">
        <label for="foto_de_perfil" class="block tracking-wide text-gray-700 text-xs font-bold mb-2">
          Foto de perfil
        </label>
        <label for="foto_de_perfil" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-pointer">
    <span class="flex items-center">
      <!-- Icono de carga de imagen -->
    <img src="https://cdn-icons-png.flaticon.com/512/11429/11429537.png" class="h-6 w-6 mr-2 text-gray-400" alt="Icono de cargar imagen">
      <span *ngIf="!selectedFileName"></span>
      <!-- Input para cargar imagen -->
      <input formControlName="fotoDePerfil" class="opacity-0 absolute inset-0 w-full h-full z-0 cursor-pointer" id="foto_de_perfil" type="file" accept="image/*" required (change)="onFileSelected($event)">
      <span class="text-xs text-gray-500" *ngIf="selectedFileName">{{ selectedFileName }}</span>
    </span>
        </label>
      </div>


      <!-- Botón crear cuenta -->
      <div class="flex justify-center">
        <button type="button" (click)="enviarFormulario()" class="w-48 flex justify-center text-black p-2 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500" style="background-color: #7CDFDD;">
          Crear Cuenta
        </button>
      </div>
    </form> <!-- Termina el formulario -->

    <div class="flex justify-evenly space-x-2 w-90 mt-4">
      <span class="bg-black h-px flex-grow"></span>
    </div>
    <!-- Botón para iniciar sesión -->
    <div class="flex justify-center mt-4">
      <button routerLink="/autenticacion/iniciar-sesion" class="w-48 flex justify-center text-black p-2 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500" style="background-color: #7CDFDD;">
        Ya tengo una cuenta
      </button>
    </div>
  </div>
</div>
</body>
