<div class="background">
  <div class="overlay">
    <div class="header">
      <img src="/assets/logo.png" alt="Logo">
      <div class="user-icon">
        <img src="/assets/perfil.png" alt="Usuario">
        <h1>Pasajero</h1>
      </div>
    </div>
    <h1>Selecciona tu viaje ideal</h1>
    <div class="search-container">
      <div class="inputs">
        <input type="text" placeholder="De">
        <input type="text" placeholder="A">
        <input type="date">
      </div>
      <div class="boton">
        <button>Buscar</button>
      </div>
    </div>
  </div>
</div>
