<div class="background">
  <div class="overlay">
    <h1>Selecciona tu viaje ideal</h1>
    <div class="search-container">
      <div class="inputs">
        <input type="text" placeholder="De" [(ngModel)]="viaje.ciudadorigen">
        <input type="text" placeholder="A" [(ngModel)]="viaje.ciudaddestino">
        <input type="date" [(ngModel)]="viaje.fechaorigen">
      </div>
      <div class="boton">
        <button (click)="buscarViaje()">Buscar</button>
      </div>
    </div>
    <div *ngIf="trips.length > 0" class="trips-container">
      <h2>Viajes encontrados</h2>
      <div *ngFor="let trip of trips" class="blanquitos">
        <div class="trip-card">
          <div class="trip-content">
            <div class="trip-route">
              <div class="route-dot start"></div>
              <span>{{ trip.viajeOrigen.ciudadorigen }}</span>
              <div class="route-line"></div>
              <span>{{ trip.viajeDestino.ciudaddestino }}</span>
              <div class="route-dot end"></div>
            </div>
            <div class="trip-details">
              <div class="trip-conductor">
                <img [src]="trip.image" alt="Imagen de perfil">
                <div class="trip-info">
                  <p>{{ trip.name }}</p>
                  <p class="rating">★★★★★</p>
                </div>
              </div>
              <div class="trip-passengers">
                <p>{{ trip.totalAsientos }} pasajeros</p>
              </div>
              <div class="trip-price">
                <p>S/ {{ trip.costoViaje }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
