<section class="cabeza">
  <section class="navar centrado ">
      <div class="medio" style="display: flex;">
          <div>
              <img src="./assets/logo3.png" alt="" >

          </div>
          <div class="centrado-vertical final" >
              <button routerLink="/autenticacion/iniciar-sesion" class="navar-button">Iniciar sesion</button>
              <button routerLink="/autenticacion/registrarse" class="navar-button">Registrarse</button>
          </div>
      </div>
  </section>
  <section class="Dantuloo centrado">
      <div class="medio row">
          <div class="box" style="color: #fff;">
              <h1 class="titulo" style="margin-top: 30px;">¡BIENVENIDO A DANTULOO!</h1>
              <p style="font-size: 25px; margin-top:20px">Viaja en un lugar con comodidad y confianza</p>
              <div class="button-contenedor">
                  <button routerLink="/autenticacion/iniciar-sesion" class="styled-button">Realizar un Viaje</button>
              </div>
          </div>

      </div>
  </section>
</section>
<section class="Dantuloo2 centrado bg-blanco">
  <div class="medio row">
      <div class="box centrado centrado-vertical">
          <img src="./assets/img2.png" alt="" height="70%">
      </div>
      <div class="box">
          <div class="texto">
              <span>¿Eres conductor?</span>
              <p style="width: 25vw; margin-top:20px">Conduce hacia tus destinos favoritos y gana dinero extra compartiendo el viaje con otros
                  viajeros. ¡Publica tu ruta ahora y únete a la comunidad!</p>
              <button class="navar-button" style="color: black; margin-top: 20px;">Publicar viaje</button>
          </div>
      </div>
  </div>
</section>
<section class="bg-celeste">
  <div class="texto2">
      <P class="titulo2">Mira algunos de los viajes</P>
      <p class="titulo3">¿Dónde te encuentras?</p>
  </div>
</section>
<section class="Dantuloo3 centrado bg-celeste">
  <div class="medio row">
      <div class="box centrado">
          <div class="ciudad">
              <img src="./assets/trujillo.jpg" alt="">
              <p class="texto-imagen">Trujillo</p>
          </div>
      </div>
      <div class="box centrado">
          <div class="ciudad">
              <img src="./assets/lima.jpg" alt="">
              <p class="texto-imagen">Lima</p>
          </div>
      </div>
      <div class="box centrado">
          <div class="ciudad">
              <img src="./assets/arequipa.jpg" alt="">
              <p class="texto-imagen">Arequipa</p>
          </div>
      </div>
  </div>
</section>
<section class=" centrado bg-celeste" >
  <button class="viajes-button" >Ver más</button>
</section>
