<section class="Dantuloo centrado bg-celeste">
  <div class="medio row">
    <div class="box">
      <h1 class="titulo">DantuLoo</h1>
      <p>Viaja cómodo y en confianza</p>
      <button>Realizar un Trip</button>
    </div>
    <div class="box">
      <img src="img/img1.png" alt="">
    </div>
  </div>
</section>
<section class="Dantuloo2 centrado bg-blanco">
  <div class="medio row">
    <div class="box centrado centrado-vertical">
      <img src="img/img2.png" alt="" height="70%">
    </div>
    <div class="box">
      <div class="texto">
        <span>¿Eres conductor?</span>
        <p>Conduce hacia tus destinos favoritos y gana dinero extra compartiendo el viaje con otros
          viajeros. ¡Publica tu ruta ahora y únete a la comunidad!</p>
        <button>Publicar viaje</button>
      </div>
    </div>
  </div>
</section>
<section class="bg-celeste">
  <div class="texto2">
    <P class="titulo2">Mira algunos de los viajes</P>
    <p class="titulo3">¿Dónde te encuentras?</p>
  </div>
</section>
<section class="Dantuloo3 centrado bg-celeste">
  <div class="medio row">
    <div class="box centrado">
      <div class="ciudad">
        <img src="img/trujillo.jpg" alt="">
      </div>
    </div>
    <div class="box centrado">
      <div class="ciudad">
        <img src="img/lima.jpg" alt="">
        <p class="texto-imagen">Lima</p>
      </div>
    </div>
    <div class="box centrado">
      <div class="ciudad">
        <img src="img/arequipa.jpg" alt="">
        <p class="texto-imagen">Arequipa</p>
      </div>
    </div>
  </div>

</section>
<section class="bg-celeste">
  <div class="texto2">
    <button>ver más</button>
  </div>
</section>
